// Use all Carbon themes
@use '@carbon/styles/scss/config' with (
  $use-akamai-cdn: true,
  $prefix: 'bx'
);
@use "@carbon/styles" as styles;
@use "@carbon/styles/scss/utilities" as *;

:root {
  @include styles.theme(styles.$white);
}

[data-carbon-theme='g10'] {
  @include styles.theme(styles.$g10);
}

[data-carbon-theme='g90'] {
  @include styles.theme(styles.$g90);
}

[data-carbon-theme='g100'] {
  @include styles.theme(styles.$g100);
}

.bx--text-truncate-end {
  @include text-truncate-end;
}
.bx--text-truncate-front {
  @include text-truncate-front;
}
