// Gray 10 theme
@import "carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/themes";

$carbon--theme: $carbon--theme--g10;
@include carbon--theme();

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true
);

$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;

@import "carbon-components/scss/globals/scss/component-tokens";
@import "carbon-components/scss/components/tag/tag";
@import "carbon-components/scss/components/notification/inline-notification";
@import "carbon-components/scss/components/notification/toast-notification";
@import "./popover";
@import "./checkbox-readonly";
@import "./checkbox-validation";
@import "./combobox-readonly";
@import "./dropdown-readonly";
@import "./multiselect-readonly";
@import "./radiobutton-readonly";
@import "./select-readonly";
@import "./toggle-readonly";
@import "./text-area-readonly";
@import "./text-area-warn";
@import "./slider";
@import "./stack";
@import "./contained-list";
@import "./number-input";
@import "./pin-code-input";
@import "./fluid-pin-code-input";
@import "./ui-shell";
@import "./tabs";
@import "./content-switcher";
@import "./tooltip";
@import "./toggletip";

@import "carbon-components/scss/globals/scss/_css--reset";
@import "carbon-components/scss/globals/scss/_css--font-face";
@import "carbon-components/scss/globals/scss/_css--helpers";
@import "carbon-components/scss/globals/scss/_css--body";
@import "carbon-components/scss/globals/grid/grid";

@import "./carbon-styles";

// Overrides (after Carbon base styles)
@import "./data-table-toolbar";
@import "./selectable-tag";
@import "./tag";
@import "./tag-set";
@import "./datepicker";
@import "./fluid-date-picker";
@import "./copy-input";
@import "./code-snippet";
@import "./overflow-menu";
@import "./combo-button";
@import "./fluid-list-box";
@import "./fluid-combo-box";
@import "./fluid-multiselect";
@import "./breadcrumb";
@import "./fluid-text-input";
@import "./fluid-number-input";
@import "./fluid-select";
@import "./fluid-time-picker";
@import "./search";
@import "./fluid-search";
@import "./search-menu";
@import "./menu-button";
@import "./fluid-text-area";
@import "./truncate-multiline";
@import "./truncated-text";
@import "./badge-indicator";
@import "./icon-indicator";
@import "./shape-indicator";
@import "./type";
@import "./box";
@import "./dialog";
@import "./link";
@import "./profile-menu";
@import "./header-switcher";
@import "./user-avatar";
@import "./user-avatar-group";
@import "./disclosure";
@import "./list-box-wrap-options";
@import "./structured-list-sort";
@import "./action-set";
