// Use the "g90" (Gray 90) Carbon theme
@import "carbon-components/scss/globals/scss/vendor/@carbon/themes/scss";

$carbon--theme: $carbon--theme--g90;
@include carbon--theme();

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true
);

$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;

@import "carbon-components/scss/globals/scss/component-tokens";
@import "carbon-components/src/components/tag/tag";
@import "carbon-components/src/components/notification/inline-notification";
@import "carbon-components/src/components/notification/toast-notification";
@import "./popover";
@import "./checkbox-readonly";
@import "./combobox-readonly";
@import "./dropdown-readonly";
@import "./multiselect-readonly";
@import "./radiobutton-readonly";
@import "./select-readonly";
@import "./toggle-readonly";
@import "./text-area-readonly";
@import "./text-area-warn";
@import "./slider";
@import "./stack";
@import "./contained-list";
@import "./number-input";
@import "./pin-code-input";
@import "./ui-shell";
@import "./tabs";
@import "./tooltip";

@import "carbon-components/scss/globals/scss/_css--reset";
@import "carbon-components/scss/globals/scss/_css--font-face";
@import "carbon-components/scss/globals/scss/_css--helpers";
@import "carbon-components/scss/globals/scss/_css--body";
@import "carbon-components/scss/globals/grid/grid";

// Import all component styles
@import "carbon-components/scss/globals/scss/styles";

// Custom component overrides (must come after Carbon styles)
@import "./data-table-toolbar";
@import "./data-table-zebra-hidden";
@import "./data-table-highlighted-row";
@import "./pagination";
@import "./multiselect";
@import "./treeview";
@import "./selectable-tag";
@import "./tag";
@import "./datepicker";
@import "./time-picker";
@import "./copy-button-portal";
@import "./copy-input";
@import "./overflow-menu";
@import "./list-box-menu-item";
@import "./breadcrumb";
@import "./text-input";
@import "./select";
@import "./search";
@import "./truncate-multiline";
@import "./text-toolbar";
