// White theme
@import "carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/themes";

$carbon--theme: $carbon--theme--white;
@include carbon--theme();

$feature-flags: (
  ui-shell: true,
  grid-columns-16: true
);

$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;

@import "./carbon-styles";
