---
components: ["ComposedModal", "ModalHeader", "ModalBody", "ModalFooter", "Checkbox"]
---

<script>
  import Preview from "../../components/Preview.svelte";
</script>

### Composed modal

<FileSource src="/framed/Modal/ComposedModal" />
