<script>
  import Preview from "../../components/Preview.svelte";
</script>

This utility component wraps the [Window.localStorage API](https://developer.mozilla.org/en-US/docs/Web/API/Window/localStorage) and is useful for persisting ephemeral data (e.g., color theme) at the browser level.
  
### Reactive example
  
<FileSource src="/framed/LocalStorage/LocalStorage" />