<script>
  import { RecursiveList } from "carbon-components-svelte";
  import Preview from "../../components/Preview.svelte";
</script>

### Unordered

<FileSource src="/framed/RecursiveList/RecursiveList" />

### Ordered

<FileSource src="/framed/RecursiveList/RecursiveListOrdered" />

### Ordered (native styles)

<FileSource src="/framed/RecursiveList/RecursiveListOrderedNative" />