<script>
  import { SkeletonText } from "carbon-components-svelte";
  import Preview from "../../components/Preview.svelte";
</script>

## Default

<SkeletonText />

## Heading variant

<SkeletonText heading />

## Paragraph variant

<SkeletonText paragraph />

## Paragraph with custom line count

<SkeletonText paragraph lines={8} />

## Paragraph with max width

<SkeletonText paragraph width="50%" />