---
description: Tiles provide a container for displaying content in a structured, card-like format, with light and dark variants.
---

<script>
  import { Tile } from "carbon-components-svelte";
</script>

## Basic

Create a basic tile container for your content.

<Tile>Content</Tile>

## Light

Use the light variant for light-themed backgrounds by setting `light` to `true`.

<Tile light>Content</Tile>