<script>
  import { Tile } from "carbon-components-svelte";
  import Preview from "../../components/Preview.svelte";
</script>

## Default

<Tile>Content</Tile>

## Light variant

<Tile light>Content</Tile>