$feature-flags: (
  enable-css-custom-properties: true
);

@import 'carbon-components/scss/globals/scss/_css--helpers.scss';
@import 'carbon-components/scss/globals/scss/vendor/@carbon/elements/scss/themes/_mixins.scss';

:root {
  @include carbon--theme($carbon--theme--white, true);
}

:root[carbon-theme='g10'] {
  @include carbon--theme($carbon--theme--g10, true);
}

:root[carbon-theme='g90'] {
  @include carbon--theme($carbon--theme--g90, true);
}

:root[carbon-theme='g100'] {
  @include carbon--theme($carbon--theme--g100, true);
}

$css--font-face: true;
$css--helpers: true;
$css--body: true;
$css--use-layer: true;
$css--reset: true;
$css--default-type: true;
$css--plex: true;

@import 'carbon-components/scss/globals/scss/_css--reset.scss';
@import 'carbon-components/scss/globals/scss/_css--font-face.scss';
@import 'carbon-components/scss/globals/scss/_css--helpers.scss';
@import 'carbon-components/scss/globals/scss/_css--body.scss';
@import 'carbon-components/scss/globals/grid/_grid.scss';

@import 'carbon-components/scss/components/search/_search.scss';
@import 'carbon-components/scss/components/select/_select.scss';
@import 'carbon-components/scss/components/copy-button/_copy-button.scss';
@import 'carbon-components/scss/components/code-snippet/_code-snippet.scss';
