on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/**"
      - "examples/**"
  push:
    branches: [master]
    paths-ignore:
      - "**.md"
      - "examples/**"

permissions:
  contents: read

jobs:
  lint:
    runs-on: macos-15-xlarge
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "npm"
      - run: npm ci --legacy-peer-deps
      - run: npm run lint

  test:
    runs-on: macos-15-xlarge
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "npm"
      - run: npm ci --legacy-peer-deps
      - run: npm run test

  types:
    runs-on: macos-15-xlarge
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v5
        with:
          node-version: 22
          cache: "npm"
      - run: npm ci --legacy-peer-deps
      - run: npm run test:src-types
      - run: npm run test:types

  deploy-docs:
    if: github.ref == 'refs/heads/master'
    needs: [lint, test, types]
    runs-on: macos-15-xlarge
    steps:
      - name: Trigger deploy
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: curl -f "$deploy_url"
