on:
  pull_request:
    paths-ignore:
      - "**.md"
      - "docs/**"
      - "examples/**"
  push:
    branches: [master]
    paths-ignore:
      - "**.md"
      - "examples/**"
  workflow_dispatch:

permissions:
  contents: read

env:
  IBM_TELEMETRY_DISABLED: true

jobs:
  lint:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun ci
      - run: bunx biome ci --error-on-warnings

  test-svelte4:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun ci

      - name: Generate types
        run: bun run build:docs

      - name: Test Svelte 4 Types
        run: bun run test:types

      - name: Test Svelte 4
        run: bun --bun run test

  test-svelte3:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun ci

      - name: Setup Svelte 3
        run: |
          cd tests-svelte3
          bun ci

      - name: Generate types
        run: bun run build:docs

      - name: Test Svelte 3 Types
        run: |
          cd tests-svelte3
          bun run test:types

      - name: Test Svelte 3
        run: |
          cd tests-svelte3
          bun --bun run test

  test-svelte5:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun ci

      - name: Setup Svelte 5
        run: |
          cd tests-svelte5
          bun ci

      - name: Generate types
        run: bun run build:docs

      - name: Test Svelte 5 Types
        run: |
          cd tests-svelte5
          bun run test:types

      - name: Test Svelte 5
        run: |
          cd tests-svelte5
          bun --bun run test

  types:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v6
      - uses: oven-sh/setup-bun@v2
      - run: bun ci

      - name: Build docs
        run: bun run build:docs

      - run: bun run test:src-types
      - run: bun run test:types

  deploy-docs:
    if: github.event_name == 'workflow_dispatch' || github.ref == 'refs/heads/master'
    needs: [lint, test-svelte4, types]
    runs-on: macos-15
    steps:
      - name: Trigger deploy
        env:
          deploy_url: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}
        run: curl -f "$deploy_url"
