on:
  push:
    tags:
      - "v*"

jobs:
  release:
    runs-on: macos-15
    permissions:
      contents: read
      id-token: write
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v6
        with:
          node-version: 22
          registry-url: "https://registry.npmjs.org"

      - name: Prune package.json
        run: npx culls --preserve=svelte

      - name: Publish package (stable)
        if: ${{ ! contains(github.ref, '-next') }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        run: |
          npm publish --provenance --access public --tag stable-0-94

      - name: Publish package (next)
        if: ${{ contains(github.ref, '-next') }}
        env:
          NODE_AUTH_TOKEN: ${{ secrets.NPM_AUTH_TOKEN }}
        run: |
          npm publish --provenance --access public --tag next
